Repository mobile-nixos/mobile-nixos, pull requests merged in 2019-11, with the labels that each got.

#34 Remove reliance on external information
  devices/asus-flo/default.nix
  devices/asus-z00t/default.nix
  devices/devices-to-json.rb
  devices/postmarketOS-devices.json
  devices/qemu-x86_64/default.nix
Labels: type: enhancement

#37 asus-z00t: Enable USER_NS
  devices/asus-z00t/kernel/0001-Revert-Grants-system-server-access-to-proc-pid-oom_a.patch
  devices/asus-z00t/kernel/0001-Revert-Handle-sk-being-NULL-in-UID-based-routing.patch
  devices/asus-z00t/kernel/0001-Revert-misc-uidstat-change-release-handler-for-stat-.patch
  devices/asus-z00t/kernel/0001-Revert-qmp-sphinx-Add-Qualcomm-Malware-Protection-ke.patch
  devices/asus-z00t/kernel/0001-asus-flash-Remove-hardcoded-IDs-for-USER_NS.patch
  devices/asus-z00t/kernel/0001-netfilter-xt_IDLETIMER-make-compatible-with-USER_NS.patch
  devices/asus-z00t/kernel/config.aarch64
  devices/asus-z00t/kernel/default.nix
Labels: type: enhancement

#51 device: Google Pixel 1 XL // google-marlin
  devices/google-marlin/default.nix
  devices/google-marlin/kernel/0003-arch-arm64-Add-config-option-to-fix-bootloader-cmdli.patch
  devices/google-marlin/kernel/99_framebuffer.patch
  devices/google-marlin/kernel/config.aarch64
  devices/google-marlin/kernel/default.nix
Labels: type: port

#50 device: Google Pixel 2 (non-XL) // google-walleye
  devices/google-walleye/default.nix
  devices/google-walleye/kernel/0001-Revert-four-tty-related-commits.patch
  devices/google-walleye/kernel/0001-mobile-nixos-Adds-and-sets-BGRA-as-default.patch
  devices/google-walleye/kernel/0001-mobile-nixos-Workaround-selected-processor-does-not-.patch
  devices/google-walleye/kernel/0003-arch-arm64-Add-config-option-to-fix-bootloader-cmdli.patch
  devices/google-walleye/kernel/config.aarch64
  devices/google-walleye/kernel/default.nix
  modules/hardware-qualcomm.nix
Labels: type: port

#52 imageBuilder.makeMBR: Fixes bug with gap
  lib/image-builder/makeMBR.nix
Labels: type: bug

#47 Add support for xiaomi-tissot
  devices/xiaomi-tissot/default.nix
  devices/xiaomi-tissot/kernel/0003-arch-arm64-Add-config-option-to-fix-bootloader-cmdli.patch
  devices/xiaomi-tissot/kernel/99_framebuffer.patch
  devices/xiaomi-tissot/kernel/config.aarch64
  devices/xiaomi-tissot/kernel/default.nix
  modules/initrd-loop.nix
  overlay/mobile-nixos/kernel/builder.nix
Labels: type: port
