Repository mobile-nixos/mobile-nixos, pull requests merged in 2019-12, with the labels that each got.

#28 device: add xiaomi-lavender
  devices/xiaomi-lavender/README.adoc
  devices/xiaomi-lavender/default.nix
  devices/xiaomi-lavender/kernel/0001-mobile-nixos-Adds-and-sets-BGRA-as-default.patch
  devices/xiaomi-lavender/kernel/0001-mobile-nixos-Workaround-selected-processor-does-not-.patch
  devices/xiaomi-lavender/kernel/0003-arch-arm64-Add-config-option-to-fix-bootloader-cmdli.patch
  devices/xiaomi-lavender/kernel/config.aarch64
  devices/xiaomi-lavender/kernel/default.nix
  devices/xiaomi-lavender/partitions_64GB.gdisk
  modules/hardware-qualcomm.nix
  overlay/overlay.nix
  overlay/xserver/0001-HACK-fbdev-don-t-bail-on-mode-initialization-fail.patch
Labels: type: port

#60 demo: Rely on lightdm now that SLiM is gone
  examples/demo/configuration.nix
Labels: type: bug

#61 Allow rootfs to expand to the backing partition
  modules/initrd-devices.nix
  modules/initrd-growpart.nix
  modules/module-list.nix
  systems/rootfs.nix
Labels: type: enhancement

#59 Enhance QEMU device
  devices/qemu-x86_64/default.nix
  modules/system-types/kernel-initrd.nix
  overlay/overlay.nix
  overlay/seabios/0001-HACK-Adds-mobile-like-VGA-modes.patch
  overlay/seabios/default.nix
Labels: type: enhancement

#58 Add failure reporting to initrd
  artwork/sad-phone.png
  artwork/sad-phone.svg
  doc/in-depth/index.adoc
  doc/in-depth/stage-1.adoc
  modules/initrd-fail.nix
  modules/module-list.nix
  modules/stage-2.nix
Labels: type: enhancement

#41 Restart adb in stage-2
  modules/adb.nix
  modules/initrd-usb.nix
  modules/module-list.nix
Labels: type: enhancement

#64 Reduce size of kernel for motorola-addison + fixups
  devices/motorola-addison/default.nix
  devices/motorola-addison/kernel/0001-Allow-building-WCD9335_CODEC-without-REGMAP_ALLOW_WR.patch
  devices/motorola-addison/kernel/0002-Allow-building-qualcomm-audio-without-CONFIG_DEBUG_F.patch
  devices/motorola-addison/kernel/0003-Allow-building-qualcomm-mdss-without-CONFIG_DEBUG_FS.patch
  devices/motorola-addison/kernel/0004-Allow-building-qualcomm-ipa_mhi-without-CONFIG_DEBUG.patch
  devices/motorola-addison/kernel/0005-Allow-building-with-sound-disabled.patch
  devices/motorola-addison/kernel/0006-Allow-building-without-CONFIG_DEBUG_FS.patch
  devices/motorola-addison/kernel/config.aarch64
  devices/motorola-addison/kernel/default.nix
  devices/motorola-addison/partitions_32GB.gdisk
Labels: type: bug, type: enhancement

#63 Make the demo more useful on a touch device
  artwork/wallpapers/mobile-nixos-19.09.png
  artwork/wallpapers/mobile-nixos-19.09.svg
  examples/demo/configuration.nix
  examples/demo/default.nix
  examples/demo/xdg/awesome/rc.lua
  examples/demo/xdg/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
  examples/demo/xdg/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
  examples/demo/xdg/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml
  examples/demo/xdg/xfce4/xfconf/xfce-perchannel-xml/xfce4-volumed-pulse.xml
  examples/demo/xdg/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
Labels: type: enhancement

#65 libhybris: 2018-06-18 -> 2019-12-02
  overlay/adbd/default.nix
  overlay/libhybris/0001-HACK-Rely-on-legacy-properties-rather-than-native-pr.patch
  overlay/libhybris/0001-Removes-failing-test-for-wayland-less-builds.patch
  overlay/libhybris/default.nix
Labels: type: package
