Repository mobile-nixos/mobile-nixos, pull requests merged in 2020-10, with the labels that each got.

#212 Review the kernel builder ergonomics
  devices/asus-dumo/kernel/default.nix
  devices/asus-flo/default.nix
  devices/asus-flo/kernel/default.nix
  devices/asus-x018d/default.nix
  devices/asus-x018d/kernel/default.nix
  devices/asus-z00t/default.nix
  devices/asus-z00t/kernel/compiler-gcc6.h
  devices/asus-z00t/kernel/default.nix
  devices/google-marlin/default.nix
  devices/google-marlin/kernel/default.nix
  devices/google-walleye/default.nix
  devices/google-walleye/kernel/default.nix
  devices/motorola-addison/default.nix
  devices/motorola-addison/kernel/compiler-gcc6.h
  devices/motorola-addison/kernel/default.nix
  devices/oneplus-oneplus3/default.nix
  devices/oneplus-oneplus3/kernel/compiler-gcc6.h
  devices/oneplus-oneplus3/kernel/default.nix
  devices/pine64-pinephone-braveheart/default.nix
  devices/pine64-pinephone-braveheart/kernel/default.nix
  devices/sony-pioneer/default.nix
  devices/sony-pioneer/kernel/default.nix
  devices/xiaomi-begonia/default.nix
  devices/xiaomi-begonia/kernel/default.nix
  devices/xiaomi-lavender/default.nix
  devices/xiaomi-lavender/kernel/default.nix
  devices/xiaomi-tissot/default.nix
  devices/xiaomi-tissot/kernel/default.nix
  doc/in-depth/kernel-builder.adoc
  modules/system-types/android/default.nix
  overlay/mobile-nixos/kernel/builder.nix
  overlay/mobile-nixos/kernel/compiler-gcc6.h
  overlay/overlay.nix
Labels: type: cleanup

#215 Provide autoport in the default shell
  overlay/mobile-nixos/autoport/default.nix
  overlay/overlay.nix
  shell.nix
Labels: type: package

#213 xiaomi-tissot: use android-linux-stable, fix USB
  devices/xiaomi-tissot/default.nix
  devices/xiaomi-tissot/kernel/0003-arch-arm64-Add-config-option-to-fix-bootloader-cmdli.patch
  devices/xiaomi-tissot/kernel/config.aarch64
  devices/xiaomi-tissot/kernel/default.nix
Labels: type: upgrade

#217 kernel-builder: Work around kernels getting compiled two times
  devices/asus-flo/kernel/default.nix
  doc/in-depth/kernel-builder.adoc
  overlay/mobile-nixos/kernel/builder.nix
Labels: type: bug

#220 Generalize Pinephone Device
  devices/pine64-pinephone/README.adoc
  devices/pine64-pinephone/default.nix
  devices/pine64-pinephone/firmware/default.nix
  devices/pine64-pinephone/kernel/0001-dts-pinephone-Setup-default-on-and-panic-LEDs.patch
  devices/pine64-pinephone/kernel/config.aarch64
  devices/pine64-pinephone/kernel/default.nix
  devices/pine64-pinephone/u-boot/default.nix
  devices/pine64-pinephone/u-boot/minimal-crust-support.patch
Labels: type: cleanup

#224 Fix program name in usage messages
  bin/kernel-normalize-config
  bin/menuconfig
Labels: type: regression

#223 razer-cheryl2: init
  devices/razer-cheryl2/README.adoc
  devices/razer-cheryl2/default.nix
  devices/razer-cheryl2/kernel/0001-mobile-nixos-Workaround-selected-processor-does-not-.patch
  devices/razer-cheryl2/kernel/0003-arch-arm64-Add-config-option-to-fix-bootloader-cmdli.patch
  devices/razer-cheryl2/kernel/config.aarch64
  devices/razer-cheryl2/kernel/default.nix
  devices/razer-cheryl2/misc.json
  devices/razer-cheryl2/oem_props.json
  modules/hardware-qualcomm.nix
Labels: type: port

#230 mruby-lvgui: update with latest changes to battery HAL
  overlay/mruby-builder/mrbgems/mruby-lvgui/default.nix
Labels: type: upgrade

#229 Misc. updates to the examples/demo system
  examples/demo/configuration.nix
Labels: type: cleanup, type: enhancement

#227 system-types/u-boot: Use GPT for partitions + add partitions
  devices/pine64-pinephone/u-boot/default.nix
  lib/image-builder/makeGPT.nix
  modules/system-types/u-boot/default.nix
Labels: type: enhancement

#228 Boot GUI: only show relevant reboot options
  boot/gui/main.rb
  examples/hello/app/windows/quit.rb
  modules/hardware.nix
  modules/initrd.nix
  modules/module-list.nix
  modules/system-types/android/default.nix
Labels: type: cleanup

#231 pine64-pinephone: Modem support improvements
  devices/pine64-pinephone/default.nix
  devices/pine64-pinephone/kernel/0001-dts-pinephone-Setup-default-on-and-panic-LEDs.patch
  devices/pine64-pinephone/kernel/config.aarch64
  devices/pine64-pinephone/kernel/default.nix
  devices/pine64-pinephone/modem.nix
  devices/pine64-pinephone/overlay/default.nix
  devices/pine64-pinephone/overlay/qfirehose/default.nix
Labels: type: enhancement
