Repository mobile-nixos/mobile-nixos, pull requests merged in 2020-05, with the labels that each got.

#148 Document and fixup the "taxonomy"
  devices/families/README.adoc
  devices/qemu-x86_64/default.nix
  doc/_support/styles/asciidoc.less
  doc/_support/styles/layout.less
  doc/default.nix
  doc/in-depth/devices-taxonomy.src.svg
  doc/in-depth/devices-taxonomy.svg
  doc/in-depth/devices.adoc
  doc/in-depth/index.adoc
  modules/module-list.nix
  modules/rootfs.nix
  modules/system-types.nix
  modules/system-types/android/bootimg.nix
  modules/system-types/android/default.nix
  modules/system-types/depthcharge/default.nix
  modules/system-types/depthcharge/depthcharge-build.nix
  modules/system-types/qemu-startscript/default.nix
  modules/system-types/qemu-startscript/qemu-startscript-build.nix
Labels: type: cleanup

#151 initrd: Remove leftover hack from when isContainer was used
  modules/initrd.nix
Labels: type: cleanup

#149 boot/gui: Use libffi rather than bespoke bindings
  boot/error/main.rb
  boot/gui/main.rb
  boot/gui/simulator.nix
  boot/init/default.nix
  boot/splash/main.rb
  modules/initrd-boot-gui.nix
  modules/initrd.nix
  overlay/mruby-builder/mrbgems/default.nix
  overlay/mruby-builder/mrbgems/mruby-lvgui/default.nix
  overlay/mruby-builder/mrbgems/mruby-lvgui/lvgui.nix
  overlay/mruby-builder/mruby/builder.nix
  overlay/mruby-builder/mruby/default.nix
Labels: type: cleanup

#152 Remove messy `device.info` option
  devices/asus-dumo/default.nix
  devices/asus-flo/default.nix
  devices/asus-z00t/default.nix
  devices/google-marlin/default.nix
  devices/google-walleye/default.nix
  devices/motorola-addison/default.nix
  devices/oneplus-oneplus3/default.nix
  devices/pine64-pinephone-braveheart/default.nix
  devices/qemu-x86_64/default.nix
  devices/xiaomi-lavender/default.nix
  devices/xiaomi-tissot/default.nix
  lib/release-tools.nix
  modules/devices-metadata.nix
  modules/initrd-kernel.nix
  modules/initrd-usb.nix
  modules/initrd-vendor.nix
  modules/initrd.nix
  modules/mobile-device.nix
  modules/system-types/android/bootimg.nix
  modules/system-types/android/default.nix
  modules/system-types/depthcharge/default.nix
  modules/system-types/depthcharge/depthcharge-build.nix
  modules/system-types/qemu-startscript/default.nix
  modules/system-types/qemu-startscript/qemu-startscript-build.nix
  modules/system-types/u-boot/default.nix
Labels: type: cleanup

#141 initrd-usb: provide modules required for gadgets in initrd
  modules/initrd-usb.nix
Labels: topic: stage-1, type: enhancement

#153 bin/menuconfig: Fix breakage caused by #152
  bin/menuconfig
Labels: type: bug

#154 Add "fb notify" quirk, fixing motorola-addison touch with boot GUI
  devices/motorola-addison/default.nix
  modules/quirks/qualcomm/default.nix
  modules/quirks/qualcomm/msm-fb-notify-task.rb
  modules/quirks/qualcomm/msm-fb-notify.nix
Labels: type: bug
