Repository mobile-nixos/mobile-nixos, pull requests merged in 2020-03, with the labels that each got.

#88 Update lvgui for better pointer support
  modules/initrd.nix
  overlay/mruby-builder/mrbgems/mruby-lvgui/lvgui.nix
Labels: type: enhancement

#90 initrd: Add `initrd-meta` build output, with ncdu metadata
  modules/initrd.nix
Labels: type: enhancement

#92 boot/gui: Fix console restoring on exit
  boot/gui/main.rb
  boot/gui/simulator.nix
Labels: type: bug

#95 stage-1: Remove dependency on ply-image + better error reporting
  artwork/loading.png
  artwork/loading.xcf
  artwork/rgb-debug.png
  artwork/rgb-debug.xcf
  artwork/sad-phone.png
  artwork/sad-phone.svg
  artwork/splash.stage-0.png
  artwork/splash.stage-0.xcf
  artwork/splash.stage-1.png
  artwork/splash.xcf
  boot/error/main.rb
  boot/init/init.rb
  boot/init/lib/system.rb
  boot/init/tasks/splash.rb
  boot/splash/main.rb
  devices/qemu-x86_64/default.nix
  modules/initrd-boot-gui.nix
  modules/initrd-fail.nix
  modules/initrd-splash.nix
  modules/stage-2-splash.nix
Labels: type: enhancement

#97 Add release.nix for hydra consumption
  default.nix
  modules/hardware-generic.nix
  modules/system-target.nix
  modules/system-types/android.nix
  modules/system-types/depthcharge.nix
  modules/system-types/kernel-initrd.nix
  release.nix
Labels: type: enhancement

#100 Fix libhybris regression following gcc target-specific libraries split
  overlay/libhybris/default.nix
Labels: type: regression

#105 Enable CONFIG_USB_RTL815* options for multiple devices
  devices/asus-z00t/kernel/config.aarch64
  devices/motorola-addison/kernel/config.aarch64
  devices/oneplus-oneplus3/kernel/config.aarch64
  devices/xiaomi-lavender/kernel/config.aarch64
Labels: type: enhancement

#106 oneplus-oneplus3: Document workaround for fastboot flash issue
  devices/oneplus-oneplus3/README.adoc
Labels: topic: documentation, type: enhancement

#109 Add `bin/menuconfig` to configure kernels
  bin/kernel-normalize-config
  bin/menuconfig
  doc/porting-guide.adoc
  overlay/mobile-nixos/kernel/builder.nix
Labels: type: enhancement

#104 google-marlin: fix partitions
  devices/google-marlin/default.nix
Labels: type: enhancement

#96 device: add pine64-pinephone-braveheart
  devices/pine64-pinephone-braveheart/README.adoc
  devices/pine64-pinephone-braveheart/default.nix
  devices/pine64-pinephone-braveheart/kernel/0001-dts-pinephone-Setup-default-on-and-panic-LEDs.patch
  devices/pine64-pinephone-braveheart/kernel/config.aarch64
  devices/pine64-pinephone-braveheart/kernel/default.nix
  devices/pine64-pinephone-braveheart/u-boot/0001-HACK-Turn-red-LED-on-for-pinephone.patch
  devices/pine64-pinephone-braveheart/u-boot/default.nix
  modules/hardware-allwinner.nix
  modules/module-list.nix
  modules/system-types.nix
  modules/system-types/u-boot.nix
Labels: type: port

#113 Add the demo rootfs build to release.nix
  default.nix
  lib/image-builder/makeFilesystem.nix
  modules/internal.nix
  modules/module-list.nix
  release.nix
  systems/rootfs.nix
Labels: type: enhancement
