Repository mobile-nixos/mobile-nixos, pull requests merged in 2020-04, with the labels that each got.

#114 initrd-vendor: mount vendor read-only
  modules/initrd-vendor.nix
Labels: type: bug

#120 doc: Add per-device pages
  devices/asus-dumo/default.nix
  devices/google-walleye/README.adoc
  devices/google-walleye/default.nix
  devices/motorola-addison/default.nix
  devices/oneplus-oneplus3/README.adoc
  devices/oneplus-oneplus3/default.nix
  devices/pine64-pinephone-braveheart/README.adoc
  devices/xiaomi-lavender/README.adoc
  devices/xiaomi-lavender/default.nix
  devices/xiaomi-tissot/default.nix
  doc/_support/devices/default.nix
  doc/_support/devices/generate-devices-listing.rb
  doc/_support/styles/asciidoc-fixes.less
  doc/_support/styles/asciidoc.less
  doc/_support/styles/theme.less
  doc/getting-started.adoc
  lib/release-tools.nix
  modules/devices-metadata.nix
  modules/module-list.nix
  modules/system-types.nix
  modules/system-types/android/default.nix
  modules/system-types/android/device-notes.adoc.erb
  modules/system-types/depthcharge/default.nix
  modules/system-types/kernel-initrd/default.nix
  modules/system-types/u-boot/default.nix
  release.nix
Labels: topic: documentation, type: enhancement

#123 Add a supported way to include from system configuration
  doc/getting-started.adoc
  lib/configuration.nix
Labels: topic: documentation, type: enhancement

#126 asus-z00t: Make wi-fi work with wcnss-wlan
  devices/asus-z00t/default.nix
  devices/asus-z00t/firmware/default.nix
  devices/asus-z00t/kernel/0001-firmware-class-Remove-rude-firmware-path-trampling.patch
  devices/asus-z00t/kernel/0001-gpio_keys-shut-up.patch
  devices/asus-z00t/kernel/0001-leds-qpnp-Cleanup-and-shut-up.patch
  devices/asus-z00t/kernel/0002-asus_battery-shut-up.patch
  devices/asus-z00t/kernel/0002-ze550kl-Green-LED-now-defaults-to-on.patch
  devices/asus-z00t/kernel/0003-qpnp-bms-shut-up.patch
  devices/asus-z00t/kernel/config.aarch64
  devices/asus-z00t/kernel/default.nix
  modules/_nixos-disintegration/initrd.nix
  modules/quirks/qualcomm/default.nix
  modules/quirks/qualcomm/wcnss-wlan.nix
Labels: type: enhancement

#128 oneplus-oneplus3: Minor polishing
  devices/oneplus-oneplus3/default.nix
  devices/oneplus-oneplus3/kernel/0001-oneplus3-Configure-LEDs-using-kernel-triggers.patch
  devices/oneplus-oneplus3/kernel/default.nix
  modules/quirks/qualcomm/default.nix
  modules/quirks/qualcomm/msm-dwc3-otg_switch-task.rb
  modules/quirks/qualcomm/msm-dwc3.nix
Labels: type: enhancement

#131 Fix build regression with updated Seabios
  devices/qemu-x86_64/default.nix
  modules/system-types/kernel-initrd/default.nix
  overlay/overlay.nix
  overlay/seabios/0001-HACK-Adds-mobile-like-VGA-modes.patch
  overlay/seabios/default.nix
Labels: type: regression

#132 cross-workarounds: Disable udisks for cross-builds
  modules/cross-workarounds.nix
Labels: type: regression

#134 doc: Add contributing notes
  CONTRIBUTING.adoc
  doc/default.nix
  doc/getting-started.adoc
Labels: topic: documentation
