Repository mobile-nixos/mobile-nixos, pull requests merged in 2020-12, with the labels that each got.

#249 boot: LUKS errors are "controlled"
  boot/init/tasks/luks.rb
Labels: type: cleanup

#257 Fix attribute 'selectBySystem' missing
  modules/system-target.nix
Labels: type: cleanup, type: regression

#188 pine64-pinephone-braveheart: implementation of Crust
  devices/pine64-pinephone/overlay/crust-firmware/default.nix
  devices/pine64-pinephone/overlay/default.nix
  devices/pine64-pinephone/u-boot/default.nix
Labels: type: upgrade

#259 kernel-builder: Strip another troublesome config
  overlay/mobile-nixos/kernel/builder.nix
Labels: type: bug

#261 razer-cheryl2: Workaround made more descriptive
  devices/razer-cheryl2/default.nix
Labels: type: cleanup

#260 xiaomi-begonia: kernel update + fixes
  devices/xiaomi-begonia/kernel/0001-HACK-disable-disp_lcm_suspend.patch
  devices/xiaomi-begonia/kernel/config.aarch64
  devices/xiaomi-begonia/kernel/default.nix
  overlay/overlay.nix
  overlay/ufdt-apply-overlay/default.nix
Labels: type: bug, type: upgrade

#263 motorola-surfna: init
  devices/motorola-surfna/README.adoc
  devices/motorola-surfna/default.nix
  devices/motorola-surfna/kernel/0001-mobile-nixos-Adds-and-sets-BGRA-as-default.patch
  devices/motorola-surfna/kernel/0001-mobile-nixos-Workaround-selected-processor-does-not-.patch
  devices/motorola-surfna/kernel/0003-arch-arm64-Add-config-option-to-fix-bootloader-cmdli.patch
  devices/motorola-surfna/kernel/config.aarch64
  devices/motorola-surfna/kernel/default.nix
  devices/motorola-surfna/misc.json
  devices/motorola-surfna/oem_props.json
  modules/hardware-qualcomm.nix
Labels: type: port

#262 stage-0: Add ability to boot in generation kernel+initrd
  boot/init/init.rb
  boot/init/lib/system.rb
  boot/init/tasks/auto_resize.rb
  boot/init/tasks/splash.rb
  boot/init/tasks/switch_root.rb
  boot/splash/lib/ui.rb
  boot/splash/main.rb
  devices/pine64-pinephone/default.nix
  devices/pine64-pinephone/kernel/config.aarch64
  doc/_support/devices/generate-devices-listing.rb
  examples/demo/configuration.nix
  examples/hello/configuration.nix
  modules/_nixos-disintegration/default.nix
  modules/_nixos-disintegration/initrd.nix
  modules/_nixos-disintegration/kernel.nix
  modules/devices-metadata.nix
  modules/initrd-kernel.nix
  modules/initrd-logs.nix
  modules/initrd.nix
  modules/module-list.nix
  modules/shared-rootfs.nix
  modules/stage-0.nix
  modules/system-types/android/default.nix
  modules/system-types/depthcharge/default.nix
  modules/system-types/u-boot/default.nix
  release.nix
Labels: topic: stage-1, type: enhancement
