Repository mobile-nixos/mobile-nixos, pull requests merged in 2021-02, with the labels that each got.

#238 Make the package set a parameter instead of using `<nixpkgs>` everywhere
  default.nix
  devices/asus-dumo/kernel/default.nix
  devices/asus-flo/kernel/default.nix
  devices/asus-x018d/kernel/default.nix
  devices/asus-z00t/kernel/default.nix
  devices/google-marlin/kernel/default.nix
  devices/google-walleye/kernel/default.nix
  devices/motorola-addison/kernel/default.nix
  devices/motorola-surfna/kernel/default.nix
  devices/oneplus-oneplus3/kernel/default.nix
  devices/pine64-pinephone/kernel/default.nix
  devices/razer-cheryl2/kernel/default.nix
  devices/samsung-a5y17lte/kernel/default.nix
  devices/sony-pioneer/kernel/default.nix
  devices/uefi-x86_64/default.nix
  devices/xiaomi-begonia/kernel/default.nix
  devices/xiaomi-lavender/kernel/default.nix
  devices/xiaomi-tissot/kernel/default.nix
  doc/_support/devices/default.nix
  doc/_support/options/default.nix
  examples/demo/configuration.nix
  lib/eval-config.nix
  lib/release-tools.nix
  modules/_nixos-disintegration/default.nix
  modules/_nixos-disintegration/initrd.nix
  modules/_nixos-disintegration/kernel.nix
  modules/_nixos-integration.nix
  modules/initrd-kernel.nix
  modules/lib.nix
  modules/module-list.nix
  modules/recovery.nix
  modules/stage-0.nix
  overlay/mruby-builder/default.nix
  release.nix
Labels: type: enhancement

#295 Enable WiFi for google-marlin
  devices/google-marlin/default.nix
  devices/google-marlin/firmware/default.nix
Labels: topic: device, type: enhancement

#293 Fix misc. breakage from Nixpkgs changes
  .github/workflows/ci.yml
  boot/init/default.nix
  devices/pine64-pinephone/overlay/crust-firmware/default.nix
  devices/pine64-pinephone/overlay/qfirehose/default.nix
  doc/_support/converter/default.nix
  overlay/bootlogd/default.nix
  overlay/dtbtool-exynos/default.nix
  overlay/hardshutdown/default.nix
  overlay/make_ext4fs/default.nix
  overlay/mobile-nixos/kernel/builder.nix
  overlay/mruby-builder/mruby/default.nix
  overlay/ufdt-apply-overlay/default.nix
Labels: type: bug, type: regression

#296 kernel-builder: Avoid string interpolation for path concatenation
  overlay/mobile-nixos/kernel/builder.nix
Labels: type: bug

#301 stage-1/usb-gadget: Fix error message error
  modules/stage-1/tasks/usb-gadget-task.rb
Labels: type: bug

#300 Finish stage-0 boot features
  boot/init/tasks/switch_root.rb
  boot/recovery-menu/main.rb
  devices/pine64-pinephone/default.nix
  modules/initrd.nix
  modules/module-list.nix
  modules/stage-0.nix
  modules/system-build.nix
  overlay/mobile-nixos/fdt-forward/default.nix
  overlay/mobile-nixos/fdt-forward/fdt-forward.sh
  overlay/mobile-nixos/map-dtbs/default.nix
  overlay/mobile-nixos/map-dtbs/map-dtbs.sh
  overlay/overlay.nix
  overlay/u-boot/0001-mobile-nixos-work-around-ubootTools-cross-compilatio.patch
  shell.nix
Labels: topic: tertiary bootloader, type: enhancement

#298 boot/lib/lvgui: fix libxkbcommon after nixpkgs#108004
  boot/script-loader/mruby-lvgui-native-fragment/lvgui.nix
Labels: type: regression

#312 doc: Fix issue with build dir references
  doc/_support/converter/lib/processor/page.rb
  doc/default.nix
Labels: topic: documentation

#303 boot/init: Make udev a dependency for the switch root target
  boot/init/tasks/udev.rb
Labels: topic: stage-1, type: bug

#306 armv7: Misc. fixes
  boot/script-loader/default.nix
  modules/cross-workarounds.nix
  overlay/mruby-builder/mrbgems/default.nix
  overlay/mruby-builder/mrbgems/mruby-regexp-pcre/0001-Fix-String-match-removed-in-mruby-2.1.0.patch
  overlay/mruby-builder/mruby/0001-mobile-nixos-Strip-store-path-hashes-when-saving-deb.patch
  overlay/mruby-builder/mruby/builder.nix
  overlay/mruby-builder/mruby/default.nix
  overlay/mruby-builder/overlay.nix
Labels: type: bug, type: cleanup, type: enhancement

#305 lvgui: "pan" framebuffers
  boot/script-loader/mruby-lvgui-native-fragment/lvgui.nix
  examples/demo/configuration.nix
  modules/quirks/framebuffer.nix
Labels: topic: stage-1, type: enhancement

#309 release.nix: Add testedPlus aggregate job
  release.nix
Labels: type: enhancement

#310 More hermetic release.nix and examples
  default.nix
  doc/_support/devices/default.nix
  examples/demo/README.md
  examples/demo/android-burn-tool.nix
  examples/demo/default.nix
  examples/hello/default.nix
  examples/target-disk-mode/default.nix
  examples/testing/crash-before-switch-root/default.nix
  examples/testing/qemu-cryptsetup/default.nix
  lib/release-tools.nix
  release.nix
Labels: type: cleanup

#314 examples/demo: Fix rootfs eval
  examples/demo/configuration.nix
Labels: type: regression

#316 bin/hydra-eval: Add hydra-like eval helper
  bin/hydra-eval
  release.nix
Labels: type: cleanup, type: enhancement

#320 android: Add flashable zip output
  devices/asus-flo/default.nix
  devices/asus-x018d/default.nix
  devices/asus-z00t/default.nix
  devices/google-marlin/default.nix
  devices/google-walleye/default.nix
  devices/motorola-addison/default.nix
  devices/motorola-surfna/default.nix
  devices/oneplus-oneplus3/README.adoc
  devices/oneplus-oneplus3/default.nix
  devices/razer-cheryl2/default.nix
  devices/samsung-a5y17lte/default.nix
  devices/sony-pioneer/default.nix
  devices/xiaomi-begonia/default.nix
  devices/xiaomi-lavender/default.nix
  devices/xiaomi-tissot/default.nix
  examples/demo/configuration.nix
  modules/system-types/android/default.nix
  modules/system-types/android/device-notes.fastboot.adoc.erb
  modules/system-types/android/device-notes.odin.adoc.erb
  modules/system-types/android/flashable-zip.nix
  overlay/mobile-nixos/android-flashable-zip-binaries/default.nix
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/__init.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/__monkey-patches/file.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/__monkey-patches/fileutils.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/__monkey-patches/kernel.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/__monkey-patches/string.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/_tmp.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/android.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/busybox.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/edify.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/flashplan.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/installer.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/partitions.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/lib/zip.rb
  overlay/mobile-nixos/android-flashable-zip-binaries/main.rb
  overlay/mruby-builder/mrbgems/default.nix
  overlay/mruby-builder/mruby/builder.nix
  overlay/mruby-builder/mruby/default.nix
  overlay/overlay.nix
  release.nix
Labels: topic: device, type: enhancement
