Repository mobile-nixos/mobile-nixos, pull requests merged in 2021-07, with the labels that each got.

#364 Apply the "new" NixOS branding to the custom apps
  artwork/app-background.svg
  boot/error/default.nix
  boot/error/main.rb
  boot/lib/hal/reboot_modes.rb
  boot/lib/init/configuration.rb
  boot/lib/lvgui/lvgl/ffi.rb
  boot/lib/lvgui/lvgl/hacks.rb
  boot/lib/lvgui/lvgl/lvgl.rb
  boot/lib/lvgui/lvgui/__init.rb
  boot/lib/lvgui/lvgui/_button.rb
  boot/lib/lvgui/lvgui/_placeholder.rb
  boot/lib/lvgui/lvgui/back_button.rb
  boot/lib/lvgui/lvgui/base_window.rb
  boot/lib/lvgui/lvgui/battery.rb
  boot/lib/lvgui/lvgui/clock.rb
  boot/lib/lvgui/lvgui/gui.rb
  boot/lib/lvgui/lvgui/header_bar.rb
  boot/lib/lvgui/lvgui/header_label.rb
  boot/lib/lvgui/lvgui/horizontal_separator.rb
  boot/lib/lvgui/lvgui/option_selection.rb
  boot/lib/lvgui/lvgui/page.rb
  boot/lib/lvgui/lvgui/screen.rb
  boot/lib/lvgui/lvgui/status_bar.rb
  boot/lib/lvgui/lvgui/toolbar.rb
  boot/lib/lvgui/lvgui/windows.rb
  boot/lib/lvgui/mobile_nixos/__init.rb
  boot/lib/lvgui/mobile_nixos/enhanced_header_bar.rb
  boot/lib/xdg.rb
  boot/recovery-menu/default.nix
  boot/recovery-menu/main.rb
  boot/recovery-menu/simulator.nix
  boot/script-loader/mruby-lvgui-native-fragment/lvgui.nix
  boot/splash/default.nix
  boot/splash/simulator.nix
  boot/splash/ui.rb
  examples/hello/app/default.nix
  examples/hello/app/main.rb
  examples/hello/app/simulator.nix
  examples/hello/app/windows/base_log.rb
  examples/hello/app/windows/logs.rb
  examples/hello/app/windows/quit.rb
  examples/hello/configuration.nix
  examples/target-disk-mode/app/default.nix
  examples/target-disk-mode/app/main.rb
  examples/target-disk-mode/app/simulator.nix
  examples/target-disk-mode/configuration.nix
  modules/initrd-boot-gui.nix
  modules/initrd-fail.nix
  overlay/mobile-nixos/gui-assets/default.nix
  overlay/mobile-nixos/lvgui/default.nix
  overlay/overlay.nix
Labels: type: enhancement

#377 pine64-pinephone: upgrade crust to 0.4
  devices/pine64-pinephone/overlay/crust-firmware/default.nix
Labels: device: pinephone, topic: device

#378 pine64-pinephone: upgrade arm-trusted-firmware to 2.5
  devices/pine64-pinephone/u-boot/default.nix
Labels: device: pinephone, topic: device

#376 pine64-pinephone: upgrade to megous's 5.13 kernel
  devices/pine64-pinephone/kernel/config.aarch64
  devices/pine64-pinephone/kernel/default.nix
Labels: device: pinephone, topic: device

#386 pinephone: Enable iio and zram
  devices/pine64-pinephone/kernel/config.aarch64
Labels: device: pinephone, topic: device

#380 pine64-pinephone: Use the more generic device path for modem
  devices/pine64-pinephone/modem.nix
Labels: device: pinephone, topic: device

#391 pine64-pinephone: include USB-C port anx7688 firmware
  devices/pine64-pinephone/firmware/default.nix
Labels: device: pinephone, topic: device

#394 pine64-pinephone: Increase CMA to 128MiB
  devices/pine64-pinephone/kernel/default.nix
Labels: device: pinephone, type: enhancement
