Repository mobile-nixos/mobile-nixos, pull requests merged in 2022-10, with the labels that each got.

#505 unbreak bin/menuconfig on kernel sources > 5.12
  overlay/mobile-nixos/kernel/builder.nix
Labels: type: bug

#524 modules/zram: init with workarounds for zram
  modules/module-list.nix
  modules/zram.nix
Labels: type: bug

#526 image-builder/makeExt4: Fix inodes exhaustion
  lib/image-builder/makeExt4.nix
Labels: type: bug

#528 lvgui: Enhancements for the installer (and general QOL)
  boot/init/default.nix
  boot/lib/lvgui/lvgl/hacks.rb
  boot/lib/lvgui/lvgui/__init.rb
  boot/lib/lvgui/lvgui/_button.rb
  boot/lib/lvgui/lvgui/base_window.rb
  boot/lib/lvgui/lvgui/battery.rb
  boot/lib/lvgui/lvgui/clock.rb
  boot/lib/lvgui/lvgui/horizontal_separator.rb
  boot/lib/lvgui/lvgui/keyboard.rb
  boot/lib/lvgui/lvgui/option_selection.rb
  boot/lib/lvgui/lvgui/page.rb
  boot/lib/lvgui/lvgui/status_bar.rb
  boot/lib/lvgui/lvgui/text_area.rb
  boot/lib/lvgui/lvgui/windows.rb
  boot/script-loader/mruby-lvgui-native/lvgui.nix
  boot/script-loader/mruby-lvgui-native/src/debug.c
  boot/script-loader/mruby-lvgui-native/src/gem.c
  boot/splash/ui.rb
  examples/hello/app/windows/base_log.rb
  examples/hello/app/windows/lvguitesting.rb
  overlay/mobile-nixos/gui-assets/default.nix
  overlay/mruby-builder/mruby/builder.nix
Labels: type: enhancement

#523 phosh: prepare for installer
  examples/phosh/configuration.nix
  examples/phosh/phosh.nix
Labels: type: enhancement, type: cleanup

#525 modules/beautification: Start adding fluff with silent/splash boot
  devices/pine64-pinephone/default.nix
  devices/uefi-x86_64/default.nix
  examples/phosh/phosh.nix
  modules/beautification.nix
  modules/module-list.nix
  modules/plymouth.nix
Labels: type: enhancement

#520 Add gadgetfs support for adb in stage-2
  modules/adb.nix
  modules/module-list.nix
  modules/usb-gadget.nix
  overlay/gt/default.nix
  overlay/libusbgx/default.nix
  overlay/overlay.nix
Labels: type: bug, type: enhancement

#532 kernel: Misc. improvements
  bin/kernel-normalize-config
  devices/asus-dumo/kernel/config.aarch64
  devices/asus-flo/kernel/config.armv7
  devices/asus-x018d/kernel/config.aarch64
  devices/asus-z00t/kernel/config.aarch64
  devices/google-marlin/kernel/config.aarch64
  devices/google-walleye/kernel/config.aarch64
  devices/motorola-addison/kernel/config.aarch64
  devices/motorola-potter/kernel/config.aarch64
  devices/motorola-rav/kernel/config.aarch64
  devices/motorola-surfna/kernel/config.aarch64
  devices/oneplus-oneplus3/kernel/config.aarch64
  devices/pine64-pinephone/kernel/config.aarch64
  devices/pine64-pinetab/kernel/config.aarch64
  devices/razer-cheryl2/kernel/config.aarch64
  devices/samsung-a5y17lte/kernel/config.aarch64
  devices/sony-pioneer/kernel/config.aarch64
  devices/xiaomi-begonia/kernel/config.aarch64
  devices/xiaomi-lavender/kernel/config.aarch64
  devices/xiaomi-tissot/kernel/config.aarch64
  modules/kernel-config.nix
  overlay/mobile-nixos/kernel/builder.nix
Labels: type: cleanup

#533 initrd: Use ncdu_1 for now
  modules/initrd.nix
Labels: type: bug

#516 quirks/audio: add quirk for custom UCM profiles
  modules/quirks/audio.nix
  modules/quirks/default.nix
Labels: type: enhancement

#538 initrd: generate a more compatible noop initrd secret appender
  modules/initrd.nix
Labels: type: bug, type: enhancement

#351 examples/plasma-mobile-demo: init
  examples/plasma-mobile/README.md
  examples/plasma-mobile/configuration.nix
  examples/plasma-mobile/default.nix
  examples/plasma-mobile/mobile-nixos-branding.nix
  examples/plasma-mobile/plasma-mobile.nix
  lib/image-builder/makeExt4.nix
  lib/image-builder/makeFAT32.nix
  modules/system-types/uefi/vm.nix
  pkgs.nix
  release.nix
Labels: type: examples

#540 boot: Add backtraces in
  boot/init/default.nix
  boot/init/init.rb
Labels: type: enhancement

#511 SDM845 family init
  devices/families/sdm845-mainline/default.nix
  devices/families/sdm845-mainline/kernel/config.aarch64
  devices/families/sdm845-mainline/kernel/default.nix
  devices/families/sdm845-mainline/sound.nix
  devices/oneplus-enchilada/README.adoc
  devices/oneplus-enchilada/default.nix
  devices/oneplus-enchilada/firmware/default.nix
  devices/oneplus-fajita/default.nix
  modules/boot-control.nix
  modules/hardware-qualcomm.nix
  modules/module-list.nix
  modules/quirks/qualcomm/default.nix
  modules/quirks/qualcomm/sdm845-modem.nix
  modules/system-types/android/bootimg.nix
  modules/system-types/android/default.nix
  overlay/mobile-nixos/boot-control/default.nix
  overlay/mobile-nixos/kernel/builder.nix
  overlay/overlay.nix
  overlay/qc-image-unpacker/default.nix
  overlay/qrtr/pd-mapper-firmware-path.diff
  overlay/qrtr/pd-mapper.nix
  overlay/qrtr/qmic.nix
  overlay/qrtr/qrtr.nix
  overlay/qrtr/rmtfs.nix
  overlay/qrtr/tqftpserv-firmware-path.diff
  overlay/qrtr/tqftpserv.nix
Labels: type: port, device: sdm845 mainline

#537 pine64-pinephone: kernel 5.17.5 -> 6.0.2
  devices/pine64-pinephone/kernel/config.aarch64
  devices/pine64-pinephone/kernel/default.nix
Labels: type: upgrade
