Repository mobile-nixos/mobile-nixos, pull requests merged in 2022-05, with the labels that each got.

#448 treewide: remove references to toplevel platform attrs
  modules/system-target.nix
  modules/system-types/u-boot/default.nix
  modules/system-types/uefi/default.nix
  modules/system-types/uefi/vm.nix
Labels: type: cleanup, topic: NixOS

#479 Fix cross-compilation of extra-utils
  overlay/lib/extra-utils.nix
  overlay/overlay.nix
Labels: type: bug, topic: cross

#478 overlay/kernel-builder: Implement kernelOlder/kernelAtLeast
  overlay/mobile-nixos/kernel/builder.nix
Labels: type: regression, topic: NixOS

#480 Update Nixpkgs pin (and fixes for recent updates)
  examples/hello/configuration.nix
  modules/cross-workarounds.nix
  modules/system-types/uefi/default.nix
  pkgs.nix
Labels: type: upgrade, topic: NixOS

#468 examples/phosh: init
  examples/phosh/README.md
  examples/phosh/configuration.nix
  examples/phosh/default.nix
Labels: type: enhancement

#467 pine64-pinephone: kernel 5.13 -> 5.17.5
  devices/pine64-pinephone/firmware/default.nix
  devices/pine64-pinephone/kernel/config.aarch64
  devices/pine64-pinephone/kernel/default.nix
Labels: device: pinephone

#487 Fix kernel config validation with large amount of options
  overlay/mobile-nixos/kernel/builder.nix
  overlay/mobile-nixos/kernel/eval-config.nix
Labels: type: bug

#486 Drop U-Boot builds
  devices/pine64-pinephone/README.adoc
  devices/pine64-pinephone/default.nix
  devices/pine64-pinephone/u-boot/default.nix
  devices/pine64-pinetab/README.adoc
  devices/pine64-pinetab/default.nix
  devices/pine64-pinetab/u-boot/default.nix
  modules/hardware-allwinner.nix
  modules/system-types/u-boot/default.nix
Labels: type: cleanup

#483 system-types/u-boot: Fix build for non-allwinner
  modules/system-types/u-boot/default.nix
Labels: type: bug

#488 Drop-in stage-1 integration [and better support for modular kernels]
  boot/init/lib/mounting.rb
  boot/init/lib/system.rb
  boot/init/lib/task.rb
  boot/init/tasks/luks.rb
  boot/init/tasks/modules.rb
  boot/init/tasks/mount.rb
  boot/init/tasks/splash.rb
  boot/init/tasks/switch_root.rb
  boot/init/tasks/udev.rb
  devices/uefi-x86_64/default.nix
  examples/hello/configuration.nix
  examples/testing/nixos-integration/configuration.nix
  examples/testing/nixos-integration/default.nix
  examples/testing/nixos-integration/diff.sh
  lib/configuration.nix
  modules/_nixos-disintegration/default.nix
  modules/_nixos-disintegration/initrd.nix
  modules/bootloader.nix
  modules/documentation.nix
  modules/hardware-screen.nix
  modules/hardware-soc.nix
  modules/initrd-kernel.nix
  modules/initrd-logs.nix
  modules/initrd.nix
  modules/mobile-device.nix
  modules/mobile.nix
  modules/module-list.nix
  modules/rootfs.nix
  modules/shared-rootfs.nix
  modules/system-build.nix
  modules/system-target.nix
  modules/system-types.nix
  modules/system-types/depthcharge/depthcharge-build.nix
  modules/system-types/u-boot/default.nix
  modules/system-types/uefi/default.nix
  modules/system-types/uefi/vm.nix
Labels: type: enhancement, topic: tertiary bootloader, topic: stage-1, topic: NixOS

#489 initrd-kernel: Fix regression with generic rootfs
  modules/initrd-kernel.nix
Labels: type: regression

#491 generic images: Stop being fancy with filenames
  modules/initrd-kernel.nix
  modules/shared-rootfs.nix
Labels: type: bug
