Repository mobile-nixos/mobile-nixos, pull requests merged in 2023-09, with the labels that each got.

#644 motorola-potter: mainline (third time's the charm)
  devices/motorola-potter/default.nix
  devices/motorola-potter/kernel/0001-Allow-building-WCD9335_CODEC-without-REGMAP_ALLOW_WR.patch
  devices/motorola-potter/kernel/0005-Allow-building-with-sound-disabled.patch
  devices/motorola-potter/kernel/0007-Coalesce-identical-device-trees.patch
  devices/motorola-potter/kernel/0008-Notify-clients-when-FB-opened.patch
  devices/motorola-potter/kernel/04_fix_camera_msm_isp.patch
  devices/motorola-potter/kernel/99_framebuffer.patch
  devices/motorola-potter/kernel/config.aarch64
  devices/motorola-potter/kernel/default.nix
  doc/_support/devices/generate-devices-listing.rb
  modules/mobile-device.nix
  modules/system-types/android/default.nix
  modules/system-types/android/device-notes.lk2nd.adoc.erb
  overlay/lk2nd/msm8953.nix
  overlay/overlay.nix
Labels: device: msm8953 mainline

#641 families-chromeos-sc7180: init + 6.5
  devices/families/mainline-chromeos-mt8183/default.nix
  devices/families/mainline-chromeos-sc7180/default.nix
  devices/families/mainline-chromeos-sc7180/firmware/default.nix
  devices/families/mainline-chromeos-sc7180/firmware/non-redistributable.nix
  devices/families/mainline-chromeos-sc7180/kernel/config.aarch64
  devices/families/mainline-chromeos-sc7180/kernel/default.nix
  devices/families/mainline-chromeos-sc7180/sound.nix
  devices/families/mainline-chromeos/default.nix
  devices/lenovo-wormdingler/README.adoc
  devices/lenovo-wormdingler/default.nix
  devices/lenovo-wormdingler/kernel/default.nix
Labels: device: chromeos mainline

#622 Update image builder with a modules system based approach
  examples/hello/configuration.nix
  examples/installer/modules/filesystems.nix
  lib/image-builder/default.nix
  lib/image-builder/in-depth-tests/README.md
  lib/image-builder/in-depth-tests/raspi-like.nix
  lib/image-builder/in-depth-tests/size/ext4.nix
  lib/image-builder/lib/overlay.nix
  lib/image-builder/lib/tests/test-overlay.nix
  lib/image-builder/lib/tests/verify.rb
  lib/image-builder/makeBtrfs.nix
  lib/image-builder/makeExt4.nix
  lib/image-builder/makeFAT32.nix
  lib/image-builder/makeFilesystem.nix
  lib/image-builder/makeGPT.nix
  lib/image-builder/makeMBR.nix
  lib/image-builder/test.rb
  lib/image-builder/tests/alignment/aligned.nix
  lib/image-builder/tests/alignment/unaligned.nix
  lib/image-builder/tests/failures/filesystem-without_size_without_commands.nix
  lib/image-builder/tests/filesystems/default.nix
  lib/image-builder/tests/filesystems/default.rb
  lib/image-builder/tests/filesystems/default_with_files.nix
  lib/image-builder/tests/filesystems/default_with_files.rb
  lib/image-builder/tests/size/ext4.nix
  modules/disk-image.nix
  modules/generated-disk-images.nix
  modules/generated-filesystems.nix
  modules/module-list.nix
  modules/rootfs.nix
  modules/system-types/android/default.nix
  modules/system-types/depthcharge/default.nix
  modules/system-types/depthcharge/depthcharge-build.nix
  modules/system-types/u-boot/default.nix
  modules/system-types/uefi/default.nix
  modules/system-types/uefi/vm.nix
  overlay/image-builder/default.nix
  overlay/image-builder/disk-image/basic.nix
  overlay/image-builder/disk-image/default.nix
  overlay/image-builder/disk-image/eval-config.nix
  overlay/image-builder/disk-image/partitioning-scheme/default.nix
  overlay/image-builder/disk-image/partitioning-scheme/gpt/builder.nix
  overlay/image-builder/disk-image/partitioning-scheme/gpt/default.nix
  overlay/image-builder/disk-image/partitioning-scheme/mbr/builder.nix
  overlay/image-builder/disk-image/partitioning-scheme/mbr/default.nix
  overlay/image-builder/disk-image/partitions.nix
  overlay/image-builder/filesystem-image/basic.nix
  overlay/image-builder/filesystem-image/builder.nix
  overlay/image-builder/filesystem-image/default.nix
  overlay/image-builder/filesystem-image/eval-config.nix
  overlay/image-builder/filesystem-image/filesystem/btrfs.nix
  overlay/image-builder/filesystem-image/filesystem/default.nix
  overlay/image-builder/filesystem-image/filesystem/ext4.nix
  overlay/image-builder/filesystem-image/filesystem/fat32.nix
  overlay/image-builder/filesystem-image/filesystem/squashfs.nix
  overlay/image-builder/helpers.nix
  overlay/overlay.nix
  release.nix
Labels: type: enhancement, type: cleanup

#145 initrd: use pkgs.kmod for modprobe instead of busybox
  modules/initrd.nix
Labels: type: enhancement, topic: stage-1

#542 kernel-config: Add config needed for waydroid
  devices/asus-dumo/kernel/config.aarch64
  devices/families/mainline-chromeos-mt8183/kernel/config.aarch64
  devices/families/mainline-chromeos-sc7180/kernel/config.aarch64
  devices/families/sdm845-mainline/kernel/config.aarch64
  devices/motorola-potter/kernel/config.aarch64
  devices/pine64-pinephone/kernel/config.aarch64
  devices/pine64-pinetab/kernel/config.aarch64
  modules/kernel-config.nix
  support/additional-devices/uefi-x86_64-with-kernel/kernel/config.x86_64
Labels: type: enhancement

#631 sdm845-mainline: fix firmware issue, update to 6.4.0, and sync config with upstream
  devices/families/sdm845-mainline/default.nix
  devices/families/sdm845-mainline/kernel/config.aarch64
  devices/families/sdm845-mainline/kernel/default.nix
  overlay/mobile-nixos/kernel/builder.nix
Labels: device: sdm845 mainline

#535 pine64-pinephonepro: Init
  devices/pine64-pinephonepro/README.adoc
  devices/pine64-pinephonepro/default.nix
  devices/pine64-pinephonepro/firmware/default.nix
  devices/pine64-pinephonepro/kernel-config.nix
  devices/pine64-pinephonepro/kernel/0001-arm64-dts-rockchip-set-type-c-dr_mode-as-otg.patch
  devices/pine64-pinephonepro/kernel/0001-dts-pinephone-pro-Setup-default-on-and-panic-LEDs.patch
  devices/pine64-pinephonepro/kernel/0001-usb-dwc3-Enable-userspace-role-switch-control.patch
  devices/pine64-pinephonepro/kernel/config.aarch64
  devices/pine64-pinephonepro/kernel/default.nix
  devices/pine64-pinephonepro/usb_role_switch_task.rb
  modules/hardware-rockchip.nix
  overlay/mobile-nixos/pine64-alsa-ucm/default.nix
  overlay/mobile-nixos/pine64-alsa-ucm/repoint-pinephone-pro.patch
  overlay/mobile-nixos/pine64-alsa-ucm/repoint-pinephone.patch
  overlay/overlay.nix
  release.nix
Labels: 4. type: port, 1. device: pinephone/pro, 0. priority: high

#573 pine64-pinephone: modem-control ➡ eg25-manager (new attempt)
  devices/pine64-pinephone/kernel/config.aarch64
  devices/pine64-pinephone/kernel/default.nix
  devices/pine64-pinephone/modem.nix
  devices/pine64-pinephonepro/default.nix
  devices/pine64-pinetab/kernel/config.aarch64
  modules/eg25-manager.nix
  modules/module-list.nix
  overlay/eg25-manager/default.nix
  overlay/overlay.nix
Labels: 1. device: pinephone/pro, 0. priority: high

#655 acer-lazor: init
  devices/acer-lazor/README.adoc
  devices/acer-lazor/default.nix
  examples/installer/app/lib/configuration.rb
Labels: 4. type: port, 1. device: chromeos mainline
