Repository mobile-nixos/mobile-nixos, pull requests merged in 2024-12, with the labels that each got.

#760 Use npins instead of bespoke pinning mechanism
  .gitignore
  devices/pine64-pinephone/sound.nix
  devices/pine64-pinetab/sound.nix
  examples/hello/app/windows/inputs.rb
  examples/hello/app/windows/main.rb
  examples/hello/configuration.nix
  examples/installer/app/lib/configuration.rb
  examples/phosh/phosh.nix
  examples/plasma-mobile/configuration.nix
  examples/plasma-mobile/plasma-mobile.nix
  modules/system-types/uefi/default.nix
  npins/default.nix
  npins/sources.json
  overlay/image-builder/filesystem-image/filesystem/squashfs.nix
  pkgs.nix
Labels: 4. type: upgrade, 4. type: regression, 3. topic: meta, 0. priority: normal

#763 Rework CI and address trivial fixes
  .ci/instantiate-all.nix
  .ci/parse-all.sh
  .github/workflows/ci.yml
  bin/hydra-eval
  bin/kernel-normalize-all
  doc/in-depth/kernel-builder.adoc
  overlay/android-partition-tools/default.nix
  overlay/make_ext4fs/default.nix
  overlay/mobile-nixos/autoport/default.nix
  overlay/mobile-nixos/kernel/builder.nix
  overlay/mruby-builder/mruby/default.nix
  overlay/overlay.nix
  overlay/ufdt-apply-overlay/default.nix
  release.nix
  shell.nix
Labels: 3. topic: meta, 0. priority: normal

#765 Fix leftover old branch and repo refs
  CONTRIBUTING.adoc
  README.adoc
  doc/_support/common.inc
  doc/_support/converter/lib/processor/footer.rb
  doc/_support/converter/lib/processor/head.rb
  doc/_support/converter/lib/processor/rss.rb
  doc/_support/devices/generate-devices-listing.rb
  doc/_support/options/generate-options-listing.rb
  doc/_support/rss.xml.erb
  doc/default.nix
  doc/getting-started.adoc
  examples/installer/pkgs/scripted-installer/automated-installer.rb
Labels: 0. priority: normal

#766 Fixup generated documentation and publish
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/site.yml
  README.adoc
  doc/_support/converter/lib/processor/footer.rb
  doc/_support/styles/theme.less
  doc/default.nix
  doc/images/NGI0_tag_black_mono.svg
  doc/resources.adoc
Labels: 0. priority: normal

#764 Normalize all kernel configs
  devices/families/mainline-chromeos-mt8183/kernel/config.aarch64
  devices/families/mainline-chromeos-sc7180/kernel/config.aarch64
  devices/families/sdm845-mainline/kernel/config.aarch64
  devices/pine64-pinephone/kernel/config.aarch64
  devices/pine64-pinephonepro/kernel/config.aarch64
Labels: 0. priority: high
