Repository mobile-nixos/mobile-nixos, pull requests merged in 2024-03, with the labels that each got.

#693 examples/installer: Use systemd-repart for resizing the rootfs
  examples/installer/modules/filesystems.nix
Labels: 4. type: bug, 3. topic: device, 0. priority: high

#694 lvgui: 2023-05-01 -> 2024-03-09
  boot/script-loader/mruby-lvgui-native/lvgui.nix
Labels: 3. topic: stage-1, 1. device: chromeos mainline, 0. priority: normal

#678 mainline-chromeos-*: Enable cr50 TPM support
  devices/families/mainline-chromeos-mt8183/kernel/config.aarch64
  devices/families/mainline-chromeos-sc7180/kernel/config.aarch64
Labels: 1. device: chromeos mainline, 0. priority: normal

#701 splash: Add BGRT support
  boot/lib/lvgui/lvgl/hacks.rb
  boot/script-loader/mruby-lvgui-native/lvgui.nix
  boot/script-loader/mruby-lvgui-native/src/gem.c
  boot/splash/ui.rb
  modules/initrd-boot-gui.nix
  pkgs.nix
Labels: 3. topic: stage-1, 0. priority: normal
